html, body {
  height: 100%;
  width: 100%;
  margin:0;
}

span, p {
  margin: 15px 15px 15px 15px;
  font-size: 10pt;
}

#mapContainer {
  height: 100%;
  width: 100%;
  background: lightgray;
  margin-left:29%;
}

#sidebar {
  height: 100%;
  /* width: 420px; */
  width: 29%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E5E5E5;
  overflow-x: hidden;
  padding: 20px;
  margin: auto;

}

.nav-item{
  text-align:center;
  /* display: inline-block; */

}

.info-box {
  width: 350px;
  position: absolute;

  z-index: 100;
  border-radius: 11px;
  margin-bottom:15px
}

h1, h2, h3, h5, h6 {
  margin: 15px 15px 15px 15px;
  /* font-size: 1rem; */
}

.btn {
  margin: 2px;
  font-weight: 500;
  border-radius: 5px;
}

.legend-color-box {
  height: 15px;
  width: 15px;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  /* margin-right: 5px; */

}

.tab-pane {
  height:100%;
  padding:15px;

}

.tab-content {
  background-color: lavender;
    /* height: 100%; */
  border-style: groove;
}
